amqp==2.2.1
asn1crypto==0.24.0
atomicwrites==1.3.0
attrs==19.1.0
bg==1.10
billiard==3.5.0.3
celery==4.1.0
certifi==2017.7.27.1
chardet==3.0.4
colorama==0.3.9
configparser==3.7.4
contextlib2==0.5.5
coverage==4.5.3
cryptography==2.1.4
decorator==4.4.0
dj-database-url==0.5.0
Django==1.11.4
django-celery-beat==1.0.1
django-decouple==2.1
django-jet==1.0.6
django-ordered-model==1.4.3
dnspython==1.15.0
entrypoints==0.2.3.post1
enum-compat==0.0.2
enum34==1.1.6
ete3==3.1.1
eventlet==0.21.0
freezegun==0.3.9
funcsigs==1.0.2
greenlet==0.4.12
gunicorn==19.7.1
honcho==1.0.1
idna==2.6
importlib-metadata==0.18
ipaddress==1.0.17
keyring==12.2.1
keyrings.alt==3.0
kombu==4.1.0
marshmallow==2.19.5
mock==3.0.5
more-itertools==5.0.0
networkx==2.2
nose==1.3.7
numpy==1.16.4
opencv-python==4.1.0.25
packaging==19.0
pathlib2==2.3.4
pluggy==0.12.0
prettytable==0.7.2
psutil==5.4.2
psycopg2==2.7.3.1
py==1.8.0
PyAudio==0.2.9
pycrypto==2.6.1
pygobject==3.28.2
PyJWT==1.5.3
pyOpenSSL==17.5.0
pyparsing==2.4.1.1
pysmbc==1.0.15.6
pytest==4.6.4
python-dateutil==2.6.1
pyttsx3==2.7
pytz==2017.2
pyxdg==0.25
redis==2.10.6
requests==2.18.4
scandir==1.10.0
scipy==1.2.2
SecretStorage==2.3.1
six==1.12.0
SpeechRecognition==3.8.1
urllib3==1.22
vine==1.1.4
virtualenv==16.7.2
wcwidth==0.1.7
whitenoise==3.3.0
wxPython==3.0.2.0
wxPython-common==3.0.2.0
zipp==0.5.2
